/* ===== GLOBAL THEME POKEMON ===== */
body {
  margin: 0;
  padding: 0;
  font-family: 'Verdana', sans-serif;
  color: #fff;

  /* BACKGROUND GRADIENT POKEMON */
  background: linear-gradient(135deg, #ffdd00, #ff4444, #007bff);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

/* Animasi background cerah */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ===== NAVBAR ===== */
nav {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(8px);
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 2px solid rgba(255,255,255,0.3);
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 12px;
  background: rgba(255,255,255,0.15);
  transition: 0.25s;
}

nav a:hover {
  background: rgba(255,255,255,0.35);
  transform: scale(1.1);
}

/* ===== SECTION STYLE ===== */
section {
  display: none;
  padding: 40px;
  margin: 40px auto;
  width: 80%;
  border-radius: 20px;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(6px);
}

section.active {
  display: block;
}

/* ===== HOME BACKGROUND POKEMON ===== */
#home {
  background-image: url("background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  padding: 100px;
  border-radius: 20px;

  /* efek gelap agar teks terlihat */
  backdrop-filter: brightness(70%);
}

  

#home h1 {
  font-size: 45px;
  color: #ffeb3b;
}

#home p {
  font-size: 20px;
}

/* ===== PRODUK GRID ===== */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: rgba(255,255,255,0.15);
  border: 2px solid rg
